<container-element [ngSwitch]="type">
    <some-element *ngSwitchCase="'pie'">
      <div class="col-md-6">
        <app-card cardTitle="Roles report" [options]="true">
          <app-apex-chart chartID="pie-chart-1-cac" [chartConfig]="this.numbineChartData.pie1CAC"></app-apex-chart>
        </app-card>
      </div>
    </some-element>
    <some-element *ngSwitchCase="'line'">
      <div class="col-sm-12">
        <app-card cardTitle="Users report" [options]="true">
          <app-apex-chart chartID="line-chart-3-cac" [chartConfig]="this.numbineChartData.line3CAC"></app-apex-chart>
        </app-card>
    </div>
    </some-element>
    <some-element *ngSwitchCase="'bar'">
      <div class="col-md-6">
        <app-card cardTitle="Activity report" [options]="true">
          <app-apex-chart chartID="bar-chart-2-cac" [chartConfig]="this.numbineChartData.bar2CAC"></app-apex-chart>
        </app-card>
      </div>   
    </some-element>
  </container-element>
  
  
  
  
  
  