<ul class="navbar-nav ml-auto navbar-dark">
    <li>
      <div class="drp-user dropdown" ngbDropdown placement="auto">
        <a href="javascript:" ngbDropdownToggle>
          <i class="feather icon-user"></i>
        </a>
        <div class=" dropdown-menu-right profile-notification" ngbDropdownMenu>
          <ul class="pro-body">
            <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
            <li><a href="javascript:" class="dropdown-item"><i class="feather icon-log-out"></i> Lock Screen</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  