<p>test-configrations-edit-new works!</p>
<div>
    <h1>Test-configrations-New</h1>
</div>

<table class="input">
    <tr class="input">
        <td class="input">
            <div class="input"><label>Param name:</label><app-input [classType]="'input'"></app-input>
            </div>
        </td>
        <td class="input">
            <div class="input"><label>Param descrption: </label><app-input [classType]="'input'"></app-input>
         </div>
       
    </tr>
    <br>
    <tr>
        <td>
            param Value :<app-input [classType]="'input'"></app-input>
        </td>
        <td>
            <app-button id="button" name="Add" type="btn btn-primary"> Add</app-button>
        </td>
    </tr>
    <br>
    <tr> 
        <td>
            <app-button  name="Add" type="btn btn-primary"> Quit</app-button>
        </td>
        <td>
            <app-button  name="Add" type="btn btn-primary"> Save</app-button>
        </td>
    </tr>
</table>