h1{
    text-align: center;
   
}
.content{
    background-color: lightgrey;
    width: 50%;
    border: 15px ;
    padding: 50px;
    margin: auto;
    text-align: left;
    
}

table{
    width: 90%;
    padding: 20px;
    border-spacing: 20px;
    margin: auto;
}
tr{
    margin: 10px;
    padding: 10px;
}
