<div class="content">
    <h1 style="text-align: left">Product Release Mapping</h1>
    <br><br>
    <table style="width: 100%">
        <tr>
            <td colspan="2">
                <app-product-selector labelText="Product Name:" [productList]="products">
                </app-product-selector>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: top;">
                <app-button name ='New Param'></app-button><!--Routing-->
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <app-numbine-table style="text-align: left;" [dataTable] = "dataTable"> </app-numbine-table>
            </td>
        </tr>
    </table>
<br><br>


</div>

