<!-- <<<<<<< HEAD -->
<!-- <app-test></app-test> -->
<!-- ======= -->
<app-forgot-pass></app-forgot-pass>
<!-- <app-test></app-test> -->
<!-- >>>>>>> master -->
<!-- <router-outlet>
    <app-spinner></app-spinner>
</router-outlet>
    -->
<!-- <<<<<<< HEAD -->
    <!-- <app-product-release-mapping></app-product-release-mapping> -->
<!-- ======= -->
   <!--- <app-product-release-mapping></app-product-release-mapping>-->
<!-- >>>>>>> master -->
<!-- <app-product-release-mapping></app-product-release-mapping> -->

