<ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="h-drop" href="javascript:" routerLink="#">Admin</a>
      </li>
      <li class="nav-item" *ngIf="!this.flatConfig['box-layout']">
        <a class="h-drop" href="javascript:" routerLink="#">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="!this.flatConfig['box-layout']">
        <a class="h-drop" href="javascript:" routerLink="#">Access</a>
      </li>
      <li class="nav-item" *ngIf="!this.flatConfig['box-layout']">
        <a class="h-drop" href="javascript:" routerLink="#">SmartEngine</a>
      </li>
      <li class="nav-item" *ngIf="!this.flatConfig['box-layout']">
        <a class="h-drop" href="javascript:" routerLink="#">Help</a>
      </li>
</ul>