<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table dataTable class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let title of dataTable.titles">{{title}}</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let row of dataTable.rows">
                        <td *ngFor="let data of row" >{{data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>