<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table dataTable class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let title of dataTable.titles">{{title}}</th>
                        <div *ngIf=" editBool == true || trashBool == true; then actionsThenBlock"></div>
                        <ng-template #actionsThenBlock>
                            <th>Actions</th>
                        </ng-template>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataTable.rows; let i = index">
                        <td *ngFor="let data of row">{{data}}</td>
                        <div *ngIf=" editBool == true || trashBool == true; then trashANDeditBlock"></div>
                        <ng-template #trashANDeditBlock>
                            <td style="width: 15%;">
                                <div class="row col-md-auto">
                                    <div *ngIf="editBool == true; then editBlock"></div>
                                    <ng-template #editBlock>
                                        <app-icon type="edit" [iconIndex]="i" [clickFunction]="editClick"></app-icon>
                                    </ng-template>

                                    <div class="col-md-auto"></div>

                                    <div *ngIf="trashBool == true;then trashBlock"></div>
                                    <ng-template #trashBlock>
                                        <app-icon type="trash" [iconIndex]="i" [clickFunction]="trashClick"></app-icon>
                                    </ng-template>

                                </div>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>