  
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">   
        
        <label><b>User Name</b> </label>    
        <app-input type="text"  classType="col-md-3" (keyup.enter) = "heloo($event)"></app-input>
        <br><br>  
        <label><b>Password  </b>   </label>   
        <app-input type="password"  classType="col-md-5" (keyup.enter) = "heloo($event)"></app-input> 
        <br><br>    
        
        <input type="checkbox" id="check">    
        <span>Remember me</span>   
        <app-button [type] ="buttonClass.Info" name="LogIn"></app-button>
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form>     
</div>    
  