
<div class="container" *ngIf="this.flatConfig.layout === 'horizontal' && this.flatConfig.subLayout === 'horizontal-2'; else mainHeader">
    <ng-container *ngTemplateOutlet="mainHeader"></ng-container>
  </div>
  <ng-template #mainHeader >
    <div class="m-header">
      <a [routerLink]="['/dashboard/analytics']" class="b-brand">
        <img id="main-logo" src="assets/images/dellLogo.png" width="50" height="50"  alt="" class="logo">
        <img src="assets/images/logo-icon.png" alt="" class="logo-thumb">
      </a>
      <a class="mob-toggler" [ngClass]="{'on' : this.menuClass}" href="javascript:" (click)="toggleMobOption()"><i class="feather icon-more-vertical"></i></a>
    </div>
    <div class="collapse navbar-collapse" [style.display]="this.collapseStyle">
      <app-numbine-nav-left class="mr-auto"></app-numbine-nav-left>
      <app-numbine-nav-right class="ml-auto"></app-numbine-nav-right>
    </div>
  </ng-template>
  