<table>
    <tr>
        <td style="vertical-align: bottom; padding-bottom: 5px;">
            <h5 style="text-align: left;">{{labelText}}</h5>            
        </td>
        <td style="width: 75%;">
            <app-numbine-select-box cssClass="" [data]="selectBoxItems"></app-numbine-select-box>
        </td>
    </tr>
</table>


<!--TODO - Replace with select component-->
<!--
    <select name="productSelect" id=""> 
        <option *ngFor="let product of productList" value="">{{product.productName}}</option>
    </select>
-->